<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BigPinwheel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F7B91F51C4896B4003FBE3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F7B920E1C4896B5003FBE3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F7B92191C4896B5003FBE3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
